services:
  sych-bot:
    build: .
    container_name: sych-bot
    user: root
    restart: unless-stopped
    # Монтируем папку data, чтобы "память" бота не стерлась при перезагрузке
    volumes:
      - ./data:/app/data
      - /root/n8n/obsidian_vault/MyVault_/Inbox:/app/obsidian_inbox
    # Подключаем файл с секретами
    env_file:
      - .env
    # Лимиты ресурсов (хорошая практика для стабильности сервера)
    deploy:
      resources:
        limits:
          memory: 1G
